services:
  # Anvil with more verbose logging
  anvil:
    command:
      - anvil
      - --host
      - 0.0.0.0
      - --port
      - "8545"
      - --chain-id
      - "31337"
      - --accounts
      - "10"
      - --balance
      - "10000000000000000000000"
      - --block-time
      - "2"
      - --verbose
